html {
  min-width: min-content;
  contain: content;
  width: -webkit-fill-available;
}

body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background-color:rgb(0, 0, 0);
    color:white;
    font-size:20px;
    text-align: center;
  }


div {
  text-align: -webkit-center;
  width: 100%;
  margin-left: 0;
}

i {
  position: relative;
  left: 0px;
  font-size: 2em;
}

/* nav css code */

.heading-bar {
  background-color: black;
  border: 10px solid rgb(8, 27, 148);
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
  max-width: 100%;
}

.logo {
  height: 100%;
}

  .nav-list {
    margin-top: 0;
  }

nav {
  background: rgb(8, 27, 148);
  width: -webkit-fill-available;
  text-align: center;
  position: relative;
  bottom: 65px;
  }

  nav ul {
    text-align: center;
    height: auto;
    width: 100%;
    margin-block-start: -2em;
    margin-block-end: 0em;
    font-variant: small-caps;
    margin-top: 0px;
    display: inline-flex;
    justify-content: space-around;
    padding-left: 0px;
  }

nav li {
  display: inline-block;
  margin: 1.5%;
  }

nav a {
    text-decoration-line: none;
    color: white;
    display: inline;
  }

nav a:hover {
    background-color:white;
    color:black;
  }

.founders-section-area {
  display: inline-block;
  max-width: 100%;
}

.founders-title {
  display: inline;
  width: 100%;
  top: 10px;
  bottom: 10px;
  text-align: center;
}

.sim {
  position: relative;
  bottom: 0px;
}

.webpage-heading {  
  display: inline-block;
  border-bottom: double;
  margin: 50px 0 70px 0;
  text-align: center;
  width: 100%;
}

.template-spacing {
  display: flex;
  max-width: 100%;
  min-height: 90vh;
  padding: 30px;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: center;
}

.founders-template {
  width: 300px;
    border: 6px;
    border-color: white;
    border-style: dashed;
    border-radius: 95px;
    display: inline;
    margin: 5px;
}


.founders-centering {
  margin:0;
  margin-top: 20px;
}

.founders-pfp {
  width: 250px;
  position: relative;
  padding: 10px;
}


.paragraph-setting {
  text-align: -webkit-center;
  width: 80%;
}

.paragraph-setting-2 {
text-align: -webkit-center;
width: 80%;
margin-top: 0px;
top: -60px;
position: relative;
}

.div-centering {
  text-align: -webkit-center;
}

section > p {
  height: fit-content;
  text-align: -webkit-center;
}

p {
  text-align: -webkit-center;
  width: 80%;
}

.caller-div-area {
  display: block;
  height: fit-content;
  margin-left: 0px;
}

.section-width {
  position: relative;
  top: 25px;
}

.callers-div {
  display: flex;
  max-width: 100%;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.callers-list {
  display: contents;
  list-style-type: none;
  position: relative;
}

.solana-callers {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.ethereum-callers {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  bottom: 45px;
  transform: translateY(45px);
}

.futures-callers {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.profit-spacing{
  margin-top: 30px;
  border-top-width: 10px;
}

.profit-list {
  list-style: none;
  padding-left: 0%
  ;
}

.profit-image {
  width: auto;
  height: 80%;
}

.future-overflow {
  height: 500px;
  overflow: auto;
  max-width: 90%;
}

.future-profit-image {
  width: auto;
  height: 400px;
}

.marketplaces_positioning {
  display: flex;
  max-width: 100%;
  height: 50vh;
  flex-direction: row;    
  justify-content: center;
  align-self: center;

}


.solana-marketplaces {
  display: flex;
  max-width: 1202px;
  min-height: 90vh;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.eth-marketplace {
  max-width: 100%;
  height: 55vh;
}

div > iframe {
  margin-bottom: 40px;
  width: 80%;
  height: 350px;
}

.video-float {
  float: left;
  transform-box: view-box;
  width: 45%;
  height: 310px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.rarible {
  float: right;
  transform-box: view-box;
  width: 550px;
  height: 310px;
  position: relative;
}

.different-marketplace-text {
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 25px;
  width: 280px;
  height: 200px;
}

.future-ed-div {
  max-width: 90%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.future-marketplace-text {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  list-style-type: none;
  width: 305px;
}  

.future-marketplace-list {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  float: right;
  list-style-type: none;
  right: -100px;
  top: -210px;
  width: 305px;
}

.iframe-div-text {
  width: 100px;
  position: relative;
  top: 35px;
}

.stats-div {
  clear: both;
  display: block;
  height: 450px;
}

.future-marketplace {
  height: 380px;
}

.future-list {
  list-style-type: none;
  text-decoration-line: underline;
  padding-left: 0px;
}

iframe {
  border:none;
}

a {
  text-decoration-color: inherit;
  color: inherit;
}

.footer-area {
  background-color: rgb(8, 27, 148);
  width: 100%;
  display: inline-block;
}

.future-div {
  max-width: 90%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


body::-webkit-scrollbar {
  display: none;
}

.up-arrow{
  position:relative;
  right:5px;
}

.arrow-styling {
position: relative;
right: -490px;
top: -131px;
font-size: 3.5em;
}

.audio-div {
  top: 69px;
  position: relative;
  z-index: 1;
  height: 0px;
  opacity: 0.25;
}

audio {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 20%;
  opacity: 0.25;
  height: 30px;
  margin-left: 10px;
  top: 10px;
}

.play-me {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 20%;
  opacity: 0.25;
  height: 40px;
  margin-left: 10px;
  top: 30px;
}

.tools_list {
  list-style: none;
  padding-left: 0px;
}

.dropbtn {
  background-color: rgb(8, 27, 148);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: contents;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(8, 27, 148);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(8, 27, 148);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(8, 27, 148);}

/*tablets and under */
@media screen and (max-width: 768px) {
  html {
    Min-width: 100%
  }
  
  .heading-bar {
    height: 50vh;
  }

  header {
    Max-width: 100%;
    Height: fit-content;
  }

  .logo-area {
    height: 100%;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .play-me {
    position: absolute;
    height: 3px;
    width: fit-content;
    font-size: 0.75rem;
    margin-left: 15px;
  }

  Nav {
    bottom: 50px;
    }
  
  nav ul li {
    font-size: 1em;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    margin: 1.5%;
  }

  .callers-div {
    display: flex;
    max-width: 100%;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
  
  .profit-image{
    width: 80%;
    height: auto;
  }

  .rarible {
    min-width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
   } 

  .different-marketplace-text {
    border: 6px;
    border-color: white;
    border-style: dashed;
    border-radius: 25px;
    width: 277px;
    height: 200px;
    margin-left: 440px;
    transform: translateY(60px);
   }

  .future-div {
    height: 600px;
   }

  .footer-area {
    background-color: rgb(8, 27, 148);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    display: block;
  }
}
 

/*mobile*/
@media screen and (max-width: 425px) {

  .heading-bar{
    max-width: fit-content;
    height: 220px;
  }

  audio {
    width: 30%;
  }

  .play-me {
    display: none;
  }
  
  nav {
    bottom: 40px;
  }

  nav a {
    font-size: 1rem;
  }

  .future-profit-image {
    width: 80%;
    height: auto;
  }

  .rarible {
    min-width: 90%;
  }

  .future-div {
    display: inline-block;
    min-width: 100%;
  }

  .video-float {
    min-width: 90%;
    margin-left: 20px;
  }

  .future-marketplace{
    text-align: -webkit-center;
  }

  .different-marketplace-text {
    margin-left: 0px;
    contain: content;
  }

  .footer-area {
    display: inline-block;
    position: inherit;
  }
}